body
{
    color: white;
    background-image: linear-gradient(135deg, #646869 0%, #2e2e32 100%);
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif;
}
h1 {
    font-size: 2em;
    /* font-size: 120%; */
}

h2 {
    font-size: 1.5em;
    font-family: Arial, Verdana, Helvetica, sans-serif;
    color: white;
}

/*Navigation*/
nav * {
    text-decoration: none;
    text-align: left;
    background-color: #1a1a1c;
    padding: 20px;
    margin-left: -8px;
    margin-right: -8px;
    margin-top: -10px;
    border-radius:0% 0% 20% 20%;
}
nav ul {
    list-style-type: none;
    text-align: center;
}
nav li {
    display: inline-block;
}
nav a {
    font-style: normal;
    border: outset 5px;
    color: rgb(86, 86, 86);
    background-color: rgb(255, 255, 255);
    border-radius: 1em;
    padding: 0 20px 0 20px;

}
nav a:hover {
    font-style: italic;
    color: rgb(45, 45, 45);
}
nav a:active {
    text-decoration: underline;
    color: rgb(0, 0, 0);
    border-radius: 1em;
    padding: 0 20px 0 20px;    
}

figure {
    display: inline-block;
    vertical-align: top;
}

footer {
    background-color: #1a1a1c;
    padding: 5px;
    border-radius:20% 20% 0% 0%;
    margin-top: 100px;
    margin-left: -8px;
    margin-bottom: -10px;
    margin-right: -8px;
}

.header {
    padding: 60px;
    text-align: center;
    background: #1abc9c;
    color: white;
    font-size: 30px;
    margin: -7px;
  }

div {
    width:24px;
    height:24px;
    position:relative;
    -webkit-animation:glide 2s ease-in-out alternate infinite;
}

@-webkit-keyframes glide  {
from {
    left:0px;
    top:0px;
}

to {
    left:0px;
    top:20px;
}

}